.catagories {
    margin: 48px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 66px;
    justify-content: center;
    padding: 0 10px;
    text-align: center;
}

.catTitle {
    max-width: 320px;
    font-size: var(--fs-h2);
}

.catTitle span {
    background: var(--gl-d2l);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

.catBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media (min-width: 768px) {
    .catagories {
        margin: 100px 0 0 0;
        gap: 120px;
    }

    .catTitle {
        max-width: 100%;
        font-size: 38px;
        font-weight: 300;
    }

    .catTitle span {
        -webkit-background-clip: none;
        -webkit-text-fill-color: var(--clr-prime);

        background-clip: none;
        color: var(--clr-prime);

        font-size: var(--fs-h4);
        font-weight: 700;
    }

    /* .catBox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        row-gap: 80px;
        column-gap: 60px;
        flex-wrap: wrap;
    } */

    .catBox {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: 
            "itm1 itm1 itm2 itm2 itm3 itm3"
            ".  itm4 itm4 itm5 itm5 .";
        ;
        row-gap: 100px;
        column-gap: 38px;
    }

    .catBox .catCard:nth-child(1) {
        grid-area: itm1;
    }

    .catBox .catCard:nth-child(2) {
        grid-area: itm2;
    }

    .catBox .catCard:nth-child(3) {
        grid-area: itm3;
    }  

    .catBox .catCard:nth-child(4) {
        grid-area: itm4;
    }

    .catBox .catCard:nth-child(5) {
        grid-area: itm5;
    }


}