.product {
    margin: 48px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    justify-content: center;
    padding: 0 20px;
    text-align: center;
}

.productBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
    overflow: hidden;
}

.productTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 320px;
}

.productTitle h3 {
    font-size: var(--fs-h2);
    font-weight: 400;
    background: var(--gl-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.productTitle h3 span {
    background: transparent;
    font-weight: 700;
    -webkit-text-fill-color: var(--clr-prime);
    color: var(--clr-prime);
}

.productTitle p {
    font-size: var(--fs-p3);
    font-weight: 400;
    color: var(--clr-grey);
    line-height: 1.6;
}

.productContent {
    padding: 16px;
    border-radius: 30px;
    background: var(--clr-grey-lt);
    border: 1px solid var(--clr-grey-drk);
    max-width: 340px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.prodFeature {
    background: var(--clr-white);
    padding: 24px;
    border-radius: 30px;
    border: 1px solid var(--clr-grey-drk);
    cursor: pointer;
}

.prodFeature p {
    font-size: var(--fs-p2);
    font-weight: 600;
    background: var(--gl-d2l);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.prodFeature img {
    width: 100%;
    display: block;
    max-height: 0;
    /* object-fit: contain; */
    object-fit: cover;
    transition: max-height 0.5s ease-in-out;
}

.prodFeature.active {
    border: 1px solid var(--clr-prime);
    background: var(--clr-prime);
}

.prodFeature.active p {
    color: var(--clr-white);
    -webkit-background-clip: none;
    -webkit-text-fill-color: var(--clr-white);
    background-clip: none;
}

.prodFeature.active img {
    max-height: 300px;
    margin: 10px 0 0 0;
}

.prodTagline {
    max-width: 320px;
    margin-top: 36px;
}

.prodTagline p {
    font-size: var(--fs-p2);
    font-weight: 400;
    color: var(--clr-body);
}

.prodDisplay {
    display: none;
}

@media (min-width: 768px) {
    .product {
        margin: 100px 0 0 0;
        gap: 80px;
        text-align: left;
        padding: 0 40px;
    }

    .productBox {
        gap: 48px;
        align-items: flex-start;
    }
    
    .productTitle {
        gap: 24px;
        max-width: 100%;
        text-align: center;
        padding: 0 0;
    }

    .productTitle h3 {
        font-size: var(--fs-h4);
        font-weight: 300;
    }

    .productTitle h3 span {
        background: transparent;
        -webkit-background-clip: none;
        -webkit-text-fill-color: var(--clr-prime);
        background-clip: none;
        color: var(--clr-prime);
        font-weight: 700;
    }

    .productTitle p {
        font-size: var(--fs-p3);
        font-weight: 400;
        color: var(--clr-grey);
    }

    .productContent {
        max-width: 100%;
        text-align: center;
    }

    .prodTagline {
        margin: auto;
        text-align: center;
        max-width: 100%;
    }

    .productContentBox {
        margin: 0 auto;
    }
}

@media (min-width: 1024px) {
    .productContentBox {
        display: flex;
        gap: 70px;
    }

    .productTitle {
        gap: 24px;
        max-width: 660px;
        padding: 0 22px;
        text-align: left;
    }

    .productContent {
        padding: 24px 20px;
        border-radius: 30px;
        max-width: 700px;
        gap: 24px;
        background: linear-gradient(90deg, #F8F8F8 0%, rgba(248, 248, 248, 0) 100%) padding-box,
              linear-gradient(270deg, rgba(217, 217, 217, 0) 0%, #D9D9D9 100%) border-box;
        border: 2px solid transparent;
        text-align: left;
    }

    .prodFeature {
        background: transparent;
        padding: 24px;
        border-radius: 16px;
        border: none;
        cursor: pointer;
        height: fit-content;
    }

    .prodFeature p {
        font-size: var(--fs-p3);
        font-weight: 700;
        -webkit-background-clip: none;
        -webkit-text-fill-color: var(--clr-grey);
        background-clip: text;
        color: transparent;
    }

    .prodFeature.active {
        border: none;
        background: var(--clr-white);
        box-shadow: 7px 0px 0px 0px #00000040 inset;
    }

    .prodFeature.active p {
        color: var(--clr-prime);
        -webkit-text-fill-color: var(--clr-prime);
        background-clip: none;
    }

    .prodFeature.active img {
        display: none;
    }

    .prodDisplay {
        display: block;
        position: relative;
        margin: -100px 0 0 0;
    }

    .prodDisplayStatic {
        max-width: 670px;
        margin-top: 100px;
    }

    .prodDisplayStatic img {
        height: 100%;
        width: 100%;
        display: block;
        object-fit: cover;
        filter: drop-shadow(17px 21px 40px rgba(236, 114, 14, 0.203));
    }

    .prodDisplayDynamic {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* --- SAFARI FIX --- */
    .prodDisplayDynamicBox {
        position: relative;
        width: 100%;
        max-width: 470px;
        height: 380px;
    }

    .prodDisplayDynamicBox img {
        display: block;
        object-fit: contain; 
    }
    
    .prodDisplayDynamic .prodDisplayDynamicBox .second {
        scale: 1.097;
    }

    .prodTagline {
        max-width: 100%;
        text-align: left;
        margin: 0 0 0 32px;
        padding: 22px;
    }

    .prodTagline p {
        font-size: var(--fs-p3);
        font-weight: 500;
        color: var(--clr-body);
    }
}

@media (min-width: 1440px) {
    .prodDisplayStatic {
        margin-top: 60px;
    }
    .prodDisplayDynamicBox {
        max-width: 600px;
        height: 480px;
    }
}

@media (min-width: 1920px) {
    .prodDisplayStatic {
        margin-top: 20px;
    }
    .prodDisplayDynamicBox {
        max-width: 675px;
        height: 540px;
    }
}
